@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

:root {
    --fontTitle: 'Righteous', cursive;
    --fontContent: 'Sarala', sans-serif;
    --colorTitle: #F2EDDC;
    --colorContent: #ecd6c4;
    --bglight: #110e1b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body,
html {
    width: 100%;
    height: 100vh;
    background: #0e091b;
    background-attachment: fixed;
    color: var(--colorTitle);
}

body::-webkit-scrollbar {
    background: #020026;
    width: 9px;
}

body::-webkit-scrollbar-thumb {
    background: #013178;
    border-radius: 50px;
}

/* header */
header {
    padding: 15px;
    width: 100%;
    height: 5em;
    position: fixed;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1;
}

header>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    margin: auto;
}

header img {
    height: 50px;
    border-radius: 50%;
}

nav {
    max-width: 1140px;
    display: flex;
    gap: 32px;
}

nav a {
    font-family: var(--fontContent);
    color: #FFF2E7;
    font-size: 18px;
    transition: all 0.5s;
    font-weight: bold;
}

nav a:hover {
    transform: scale(1.2);
}

/* main */
main {
    margin-bottom: 40px;
    width: 100%;
    margin: auto;
}

.home>img,
.about-me>img {
    width: 300px;
    margin-top: 30px;
    border-radius: 50%;
}

.first-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    gap: 100px;
}

.first-content h1 {
    font-family: var(--fontTitle);
    font-size: 64px;
}

.first-content h2 {
    font-family: var(--fontContent);
}

.btn {
    width: 180px;
    height: 60px;
    border-radius: 20px;
    border: none;
    background-color: #ecd6c4;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: var(--fontContent);
    font-size: 24px;
    line-height: 100px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px 40px;
}

.btn:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.btn:active {
    color: #551a8c;
}

.second-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bglight);
    padding: 4em 0;
}

.about-me {
    display: flex;
    justify-content: center;
    max-width: 950px;
    gap: 100px;
}

.about-me img {
    width: 25%;
}

.about-me img {
    width: 25%;
}

.about-me p {
    width: 600px;
}

.second-content h3 {
    padding-top: 48px;
    font-family: var(--fontTitle);
    font-size: 2em;
    margin-bottom: 16px;
    color: var(--colorTitle);
}

.second-content p {
    font-weight: 300;
    font-family: var(--fontContent);
    font-size: 1.5em;
    color: var(--fontContent);
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 80px 0;
    height: 60vh;

    position: relative;
}

.content {
    height: 50vh;
    width: 40vw;
    overflow: hidden;
    position: absolute;
    top: 60%;
    left: 50%;

    transform: translate(-50%, -50%);

}
.slides {
    display: flex;
    width: 700%;
    height: 100%;
}

.slides input {
    display: none;
}
.slide{
    width: 15%;    
    transition: 0.8s;
    position: relative;
}

.slide a img {
    width: 100%;
    height: 100%;
}

.slide a .caption {
    width: 300px;
    height: 25px;
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.589);
    font-size: 1.5em;
    border-radius: 20px;

    text-align: center;
    line-height: 25px;
    position: absolute;
    bottom: 50px;
    left: 50%;

    transform: translateX(-50%);
}
.active{
    background: rgba(0, 0, 0, 0.589);
}

#slide1:checked ~ .s1{
    margin-left: 0;
}
#slide2:checked ~ .s1{
    margin-left: -15%;
}
#slide3:checked ~ .s1{
    margin-left: -30%;
}
#slide4:checked ~ .s1{
    margin-left: -45%;
}
#slide5:checked ~ .s1{
    margin-left: -60%;
}
#slide6:checked ~ .s1{
    margin-left: -75%;
}
#slide7:checked ~ .s1{
    margin-left: -90%;
}


.nav-carousel{
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 50%;

    transform: translate(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.content label{
    width: 11%;
    height: 17px;
    border: 2px solid black;
    
    cursor: pointer;
    transition: 0.4s;
    border-radius: 10px;
}

.content label:hover{
    background: rgba(0, 0, 0, 0.575);
}
.projects a {
    color: var(--colorContent);
    transition: all 0.5s;
}

.projects h2 {
    font-size: 2em;
    font-family: var(--fontTitle);
}


.projects a:hover {
    transform: scale(1.1);
}

.knowledges {
    background: var(--bglight);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fontContent);
    flex-direction: column;
    gap: 50px;
    height: 50vh;
}

.knowledges h2 {
    font-family: var(--fontTitle);
    margin-top: 40px;
    font-size: 2em;
}

.knowledges>div {
    display: flex;
    align-items: center;
    gap: 70px;
    max-width: 1140px;
    text-align: center;
    margin-bottom: 50px;
}

.knowledges img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    transition: 0.4s;
}

.knowledges picture:hover {
    transform: scale(1.3);
}



.knowledges picture {
    transition: 0.6s;
}


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 90px 0;
    gap: 50px;
    height: 50vh;
    text-align: center;
    font-size: 1.5em;
    font-family: var(--fontContent);
}

.contact>h2 {
    font-family: var(--fontTitle);
}

.contact>div {
    max-width: 1140px;
    display: flex;
    align-items: center;
    gap: 120px;
}

.contact a {
    color: var(--fontContent);
    transition: 0.5s
}

.contact a:hover {
    transform: scale(1.2);
}

.contact img {
    margin-bottom: 20px;
}

/* footer */
footer {
    background: var(--bglight);
    padding: 16px;
    text-align: center;
    width: 100%;
    font-size: 1.3em;
}

/* menu */
#toggle {
    display: none;
}

@media (max-width: 1440px){
    .content{
        width: 60vw;
    }
}

@media(max-width: 960px) {
    
    /* header */
    header .checkbox-container {
        flex-direction: row;
        justify-content: space-between;
    }

    header img {
        margin-left: 50px;
        width: 50px;
        height: 50px;
    }

    header nav {
        flex-direction: column;
        gap: 5px;
    }

    nav a {
        text-align: center;
    }

    /* main */
    .first-content {
        height: 120vh;

    }

    .first-content h1 {
        font-size: 32px;
    }

    .first-content h2 {
        text-align: center;
    }

    .home {
        gap: 0;
        flex-direction: column;
        align-items: center;
    }

    .first-content,
    .second-content {
        text-align: center;
        margin: 0px 10px;
    }

    .first-content img,
    .second-content img {
        width: 200px;
    }

    .second-content {
        padding: 0 0 20px 0;
    }

    .second-content {
        padding: 0 0 20px 0;
    }

    .second-content p {
        margin: auto;
        width: 80%;
        font-size: 1.2em;
    }

    .about-me {
        align-items: center;
        flex-direction: column;
        gap: 0;
        font-size: 1em;
    }

    .about-me div {
        text-align: center;
    }

    .content{
        width: 90vw;
    }
    .content label{
        height: 20px;
    }

    .knowledges {
        text-align: center;
        gap: 40px;
        height: 700px;
    }

    .knowledges>div {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .knowledges img {
        min-width: 50%;
    }

    .contact {
        gap: 40px;
        height: 500px;
    }

    .contact>div {
        gap: 50px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .contact img {
        min-width: 50%;
    }

    /* menu */
    .checkbox-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .checkbox {
        position: absolute;
        top: 0;
        right: 0;
        height: 100px;
        width: 100px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        z-index: 9999;
        transition: 400ms ease-in-out 0s;
    }

    .checkbox .trace {
        width: 50px;
        height: 2px;
        background: white;
        position: absolute;
        border-radius: 4px;
        transition: 0.5s ease-in-out;
    }

    .checkbox .trace:nth-child(1) {
        top: 26px;
        transform: rotate(0);
    }

    .checkbox .trace:nth-child(2) {
        top: 46px;
        transform: rotate(0);
    }

    .checkbox .trace:nth-child(3) {
        top: 66px;
        transform: rotate(0);
    }

    #toggle {
        display: none;
    }

    .menu {
        position: absolute;
        top: 28px;
        right: 30px;
        background: transparent;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 0px black;
        z-index: -1;
        transition: 400ms ease-in-out 0s;
    }

    .menu-items {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: 0.1ms ease-out 350ms;
    }

    .menu-items a {
        display: none;
    }

    nav a {
        margin: 10px 0;
        color: var(--colorContent);
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 2em;
    }

    #toggle:checked+.checkbox .trace:nth-child(1) {
        transform: rotate(45deg);
        background: white;
        top: 47px;
    }

    #toggle:checked+.checkbox .trace:nth-child(2) {
        transform: translateX(-100px);
        visibility: hidden;
        opacity: 0;
        width: 30px;
    }

    #toggle:checked+.checkbox .trace:nth-child(3) {
        transform: rotate(-45deg);
        background: white;
        top: 47px;
    }

    #toggle:checked+.checkbox {
        background: black;
    }

    #toggle:checked~.menu {
        box-shadow: 0px 0px 0px 100vmax black;
        z-index: 1;
    }

    #toggle:checked~.menu-items {
        visibility: visible;
        opacity: 1;
    }

    #toggle:checked~.menu-items a {
        display: unset;
    }
}

@media(max-width: 320px) and (height: 480px) {
    nav a {
        font-size: 1.3em;
    }

    .first-content {
        height: 130vh;
    }
}